.resources__logo {
  display: inline-block;
  min-width: 270px;
  min-height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.resources__logo:nth-child(1){
  background-image: url(../../../images/logo/resources-arzamas.svg);
}

.resources__logo:nth-child(2){
  background-image: url(../../../images/logo/resources-n1.svg);
}

.resources__logo:nth-child(3){
  background-image: url(../../../images/logo/resources-strelka.svg);
}

.resources__logo:nth-child(4){
  background-image: url(../../../images/logo/resources-polka.svg);
}

.resources__logo:hover {
  opacity: .5;
  transition: .3s;
}
